In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Broken Hill,AU,2022-07-16 17:31:26,-31.9500,141.4333,45.97,33,0,15.19
1,1,Busselton,AU,2022-07-16 17:31:26,-33.6500,115.3333,56.64,76,90,7.07
2,2,Dingle,PH,2022-07-16 17:31:27,10.9995,122.6711,76.91,90,100,2.33
3,3,Vaini,TO,2022-07-16 17:31:27,-21.2000,-175.2000,77.95,69,13,11.92
4,4,Sabha,LY,2022-07-16 17:31:27,27.0377,14.4283,89.65,15,0,7.20

In [2]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [8]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]
# 2. Assign the weights variable to some values.
max_temp = city_data_df["Max Temp"]
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2)
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# 5. Add the heatmap layer.
fig.add_layer(heat_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 80

In [19]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Dingle,PH,2022-07-16 17:31:27,10.9995,122.6711,76.91,90,100,2.33
3,3,Vaini,TO,2022-07-16 17:31:27,-21.2000,-175.2000,77.95,69,13,11.92
8,8,Torbay,CA,2022-07-16 17:31:29,47.6666,-52.7314,76.87,43,40,14.97
11,11,Bwanga,TZ,2022-07-16 17:31:30,-3.0308,31.7601,71.64,42,36,4.85
18,18,Rikitea,PF,2022-07-16 17:31:32,-23.1203,-134.9692,72.73,76,100,17.49
21,21,Dosso,NE,2022-07-16 17:31:33,13.0490,3.1937,79.52,71,100,4.45
24,24,Butaritari,KI,2022-07-16 17:31:34,3.0707,172.7902,78.67,83,100,10.96
25,25,Puerto Ayora,EC,2022-07-16 17:31:34,-0.7393,-90.3518,73.36,86,71,8.01
27,27,Avarua,CK,2022-07-16 17:31:35,-21.2078,-159.7750,73.45,73,40,17.27
35,35,Areosa,PT,2022-07-16 17:31:38,41.7178,-8.8571,73.58,63,60,11.63

In [20]:
preferred_cities_df.count()

City_ID       157
City          157
Country       157
Date          157
Lat           157
Lng           157
Max Temp      157
Humidity      157
Cloudiness    157
Wind Speed    157
dtype: int64

In [21]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
2         Dingle      PH     76.91  10.9995  122.6711
3          Vaini      TO     77.95 -21.2000 -175.2000
8         Torbay      CA     76.87  47.6666  -52.7314
11        Bwanga      TZ     71.64  -3.0308   31.7601
18       Rikitea      PF     72.73 -23.1203 -134.9692
21         Dosso      NE     79.52  13.0490    3.1937
24    Butaritari      KI     78.67   3.0707  172.7902
25  Puerto Ayora      EC     73.36  -0.7393  -90.3518
27        Avarua      CK     73.45 -21.2078 -159.7750
35        Areosa      PT     73.58  41.7178   -8.8571

In [22]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [24]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [26]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Dingle,PH,76.91,10.9995,122.6711,SEGAYA PROPERTY
3,Vaini,TO,77.95,-21.2000,-175.2000,Keleti Beach Resort
8,Torbay,CA,76.87,47.6666,-52.7314,Gallows Cove
11,Bwanga,TZ,71.64,-3.0308,31.7601,Sulilu Guest house
18,Rikitea,PF,72.73,-23.1203,-134.9692,People ThankYou
21,Dosso,NE,79.52,13.0490,3.1937,Hotel Toubal
24,Butaritari,KI,78.67,3.0707,172.7902,Isles Sunset Lodge
25,Puerto Ayora,EC,73.36,-0.7393,-90.3518,Finch Bay Galapagos Hotel
27,Avarua,CK,73.45,-21.2078,-159.7750,Paradise Inn
35,Areosa,PT,73.58,41.7178,-8.8571,Hotel Flôr de Sal

In [31]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [33]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))